[Unit]
Description=Kubernetes etcd backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/etcd-backup.sh
